body {
	margin: 0;
	padding: 0;
	background: url("../grafika/background.jpg") no-repeat center center;
	background-attachment: fixed;
    background-size: cover;

}

.clearfix {
	clear: both;
}

header,nav,footer,article,aside,section {
	display: block;

}

header h1, h2, h3, article h2, footer h1 {
	text-align: center;
	font-family: 'Advent Pro', sans-serif;
	color: white;
	
}

header {
	width: 80%;
	top: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	position: fixed;
	overflow: hidden;
	background-color: #333;
	padding: 10px;
	z-index: 1;
	border-bottom: medium solid red;
	
}


div#title {
    float: left;
    width: 55%;
    margin-left: 1%;
    border-radius: 10% 10% 10% 10%;
    font-size: 1.1em;
    border-top: medium solid white;
    border-bottom: medium solid white;
	background-color: red;
}

div#author_info {
    float: right;
    width: 40%;
    border-bottom: medium solid red;
    border-top: medium solid red;
    border-radius: 10% 10% 10% 10% ;
	background-color: white;
    padding: 5px;
    margin-right: 1%;
}

div#author_info h1 {
	color: black;
	
}

div.navbar ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}

div.navbar li {
  font-family: 'Advent Pro';
  font-size: 1.2vw;
  line-height: 250%;
  height: 250%;
  display: inline-block;
  width: 12%;
  
}
 
div.navbar a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
div.navbar a:hover {
  background-color: #a01e10;
}
 
div.navbar a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

section.main {
	display: block;
	width: 80%;
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	background-color: white;
	padding: 10px;
	opacity: 0.7;
	
}

footer {
	position: fixed;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	width: 80%;
	padding: 10px;
	bottom: 0;
	background-color: #333;
	text-align: center;
	font-size: 1vw;
	border-top: medium solid white;

}